<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

.c1 {
    text-align: center;
    padding: 16px 0;
}
</style>
</head>
<body>

<div class="c1">

    <h2>Predicted Category: {{ category }}</h2>
   <h4><a href="/prediction" type="button" class="btn btn-primary"> Predict more</a></h4> 
</div>
<br>
<hr>
<div>
<h2 class="c1"> Prediction History</h2>

<table>
  <tr>
    <th>Article URL</th>
    <th>Predicted Category</th>
    <th>Date time</th>
  </tr>
  {% for article in all_predictions %}
    <tr>
        <td>{{ article['url'] }}</td>
        <td>{{ article['category'] }}</td>
        <td>{{ article['createdAt'].strftime('%Y-%m-%d %I:%M:%S') }}</td>
    </tr>
  {% endfor %}
</table>
</div>

</body>
</html>


